body {
	font-family: "Oswald", sans-serif;
	background-color: #343a40;
	margin: 0;
}

h1,
h2,
h3,
p,
li {
	color: #e9ecef;
}

.visually-hidden {
	display: none;
}

/* Top bar */
header {
	background-color: #212529;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	padding: 5px 0;
	border-bottom: 2px solid #e9ecef;
}

.site-logo {
	margin: 5px 15px 0;
}

nav {
	margin: 0 25px 70px;
	display: flex;
	align-items: flex-end;
	height: 100%;
}

#menu-checkbox {
	display: none;
}

header {
	position: relative;
}

.fa-bars {
	color: #e9ecef;
}

nav a {
	display: block;
	text-decoration: none;
}

.home-button,
.posts-button,
.contact-button,
.about-button {
	margin: 0 25px;
	color: #e9ecef;
	display: flex;
	align-items: center;
}
/*modal*/
.post_image {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.post_image:hover {
	opacity: 0.7;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content,
#caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
/* Home */

.intro {
	background-color: #ff206e;
	display: flex;
	justify-content: center;
}

.intro-heading {
	padding: 0 2%;
}

.intro-content {
	display: flex;
	justify-content: space-evenly;
	padding: 5%;
}

/* carousel*/

body {
	height: 100vh;
	display: flex;
}

.slider {
	width: 100%;
	max-width: 800px;
	height: 350px;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
}

.slide {
	width: 100%;
	max-width: 800px;
	height: 350px;
	position: absolute;
	transition: all 0.5s;
}

.slide img {
	width: 100%;
	height: 100%;
}

.btn {
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 50%;
	z-index: 10px;
	cursor: pointer;
	background-color: #fff;
	font-size: 18px;
}

.btn:active {
	transform: scale(1.1);
}

.btn-prev {
	top: 45%;
	left: 2%;
}

.btn-next {
	top: 45%;
	right: 2%;
}

/*Contact*/

.contact-heading {
	padding: 0 2%;
}

.contact-content {
	display: flex;
	justify-content: space-evenly;
	padding: 5%;
}

/*About*/

.about-heading {
	padding: 0 2%;
}

.about-content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
}

.about-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 7%;
	padding-right: 5%;
	padding-top: 2%;
}

/*post specific*/

.post-specific-content {
	text-align: center;
	padding: 40px;
}

.post-text-content {
	display: flex;
	padding-left: 30px;
	padding-right: 30px;
}

.post-border {
	border: 3px solid #ff206e;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	justify-content: space-evenly;
}

.post_image {
	display: flex;
	max-width: 100%;
	height: auto;
}

/*contact*/

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}

form input textarea {
	color: #adb5bd;
	border-radius: 20px;
	overflow: hidden;
	box-sizing: border-box;
	border: 2px solid #212529;
	resize: horizontal;
}

label {
	color: #e9ecef;
}

button {
	line-height: 2.5;
	padding: 0 20px;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	background-color: #ff206e;
	color: #e9ecef;
}

.error {
	color: red;
}
/*footer*/

footer p,
footer a {
	color: #e9ecef;
	display: flex;
	margin: 15px 15px 15px;
	text-decoration: none;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.footer {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.footer > * {
	flex: 1;
}

footer {
	background-color: #212529;
	margin-top: auto;
	display: flex;
}

/*loading*/

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* media */
@media (min-width: 600px) {
	nav a {
		display: inline-block;
	}
	.hamburger-icon {
		display: none;
	}
}

@media (max-width: 900px) {
	.hamburger-icon {
		display: flex;
		margin-right: 50px;
	}

	nav {
		display: none;
	}

	#menu-checkbox:checked ~ nav {
		display: flex;
		position: fixed;
		width: 100vw;
		height: 250px;
		top: 112px;
		z-index: 1000;
		background-color: #212529;
		margin: 0;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}

@media (max-width: 600px) {
	.footer {
		flex-direction: column;
	}
}

@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}
